/* Estilos para pantallas grandes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

body {
    background-color: #ffffff; /* Fondo blanco */
    font-family: Arial, sans-serif;
}

/* ----------------------------------------------------------- */
/* -------------------menu---------------- */
/* ----------------------------------------------------------- */

header {
    background-color: #a8b1d1;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra para separar el encabezado de los contenidos de la página */
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
}

.mobile-menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
}

/* Estilos para el logo */
.logo-img {
    height: 90px;
    margin-left: 20px; /* Ajusta el margen izquierdo según tus necesidades */
}

nav ul.menu {
    list-style-type: none;
    padding: 0;
    text-align: right;
    position: relative;
    z-index: 3;
    margin-right: 40px; /* Ajusta el margen derecho según tus necesidades */
}


nav ul.menu li {
    display: inline-block;
    margin-right: 20px; /* Ajusta el margen derecho según tus necesidades */
    position: relative;
}

nav ul.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    transition: color 0.3s ease;
    display: block;
    text-align: center;
}

nav ul.menu a:hover {
    color: #ff9900;
}

/* Estilos para el submenu */
nav ul.menu .submenu {
    position: relative;
    cursor: pointer; /* Agrega un cursor para indicar que es interactivo */
}

nav ul.menu .submenu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a8b1d1;
    color: #ffffff;
    padding: 16px;
    text-align: center;
    z-index: 5; /* Ajusta el z-index para que esté al frente del menú */
}

nav ul.menu .submenu:hover .submenu-items,
nav ul.menu .submenu.active .submenu-items {
    display: block;
}

nav ul.menu .submenu-items li {
    margin-bottom: 20px;
}

/* Estilos para el botón de Iniciar Sesión */
nav ul.menu .inicioseccion button {
    background-color: aqua;
    border: none;
    padding: 0;
    cursor: pointer;
}

nav ul.menu .inicioseccion i {
    font-size: 20px;
    margin-right: 5px;
}


.logo-img {
    height: 90px;
    margin-right: 40px;
    margin-top: -15px; /* Ajusta el margen superior según tus necesidades */
    margin-bottom: 15px; /* Ajusta el margen inferior según tus necesidades */
}


/* Estilo del ícono de inicio de sesión */
.login-icon {
    background-color: #a8b1d1; /* Color de fondo deseado */
    padding: 10px; /* Añade espacio interno para mejorar la apariencia */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo del botón de inicio de sesión */
#boton_iniciar_secion {
    background-color: transparent; /* Establece el fondo del botón como transparente para que se vea el fondo del elemento li */
    border: none; /* Elimina el borde del botón */
    cursor: pointer;
    text-decoration: none; /* Elimina la subrayado predeterminado del enlace */
}

/* Estilo del botón cuando se coloca sobre él (opcional) */
#boton_iniciar_secion:hover {
    background-color: #87a0c5; /* Cambia el color al pasar el ratón por encima del botón */
}

/* Estilo de la imagen dentro del botón */
#boton_iniciar_secion img {
    max-width: 100%; /* Asegura que la imagen no sobresalga del contenedor del botón */
}


/* ... Código anterior ... */

@media (max-width: 768px) {

    .menu-container {
        flex-direction: column; /* Alinear elementos en columna en lugar de fila */
        align-items: flex-start; /* Alinear elementos al principio */
    }

    .menu {
        width: 100%; /* Ocupar todo el ancho disponible */
    }

    .mobile-menu-icon {
        display: block; /* Asegurar que el ícono de menú esté visible en pantallas pequeñas */
    }

    .mobile-menu-icon {
        display: block;
    }

    /* Remove display: none; to keep the regular menu visible */
    nav ul.menu {
        display: none; 
    }

    /* Add styles for the expanded mobile menu */
    nav ul.menu.mobile-expanded {
        display: flex;
        flex-direction: column; /* Alinea los elementos en columna en lugar de fila */
        background-color: #a8b1d1;
        position: absolute;
        top: 110px; /* Ajusta la posición vertical del menú expandido */
        left: 0;
        width: 100%;
        text-align: center;
        z-index: 4; /* Ajusta el z-index para que esté al frente */
        border-bottom: 2px solid #ffffff;
    }

    /* Styles for mobile menu items */
    nav ul.menu.mobile-expanded li {
        display: block;
        margin: 10px 0;
    }

    /* Styles for placing the logo to the right in mobile menu */
    nav ul.menu.mobile-expanded .logo-container-mobile {
        justify-content: flex-end;
        text-align: right;
    }

    /* Styles for submenu items */
    nav ul.menu.mobile-expanded .submenu-items {
        z-index: 5; /* Ajusta el z-index para que esté al frente del menú */
    }

    /* Adjust the width of the header for smaller screens */
    header {
        padding: 25px 0; /* Reduce vertical padding */
        width: 100%; /* Set header width to 100% */
    }

    .logo-container-mobile {
        display: flex;
        justify-content: flex-end;
        align-items: right; /* Alinea el logo hacia abajo */
        text-align: right;
        margin-bottom: 10px; /* Ajusta el margen inferior del logo */
    }
}


/* ----------------------------------------------------------- */
/* ------------------- footer -------------------------------- */
/* ----------------------------------------------------------- */

/* Estilos para el footer */
.footer {
    background-color: #343a40; /* Fondo oscuro */
    color: #fff; /* Texto en blanco */
    padding: 50px 0; /* Espaciado interno */
    margin-top: 20px;
  }
  
  .footer h3 {
    font-size: 24px;
    margin-top: 0;
    color: #ffcc29; /* Color de título */
  }
  
  .footer p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  /* Estilo para los enlaces en el footer */
  .footer a {
    color: #f8b400;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer a:hover {
    color: #ffcc29;
  }
  
  /* Estilo para la lista de enlaces en el footer */
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  /* Estilos para el formulario de suscripción */
  .footer form {
    margin-top: 20px;
  }
  
  .footer .form-group {
    margin-bottom: 15px;
  }
  
  .footer input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #f8b400;
    border-radius: 5px;
  }
  
  .footer .btn-primary {
    background-color: #f8b400;
    border: none;
    border-radius: 5px;
    color: #343a40;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .footer .btn-primary:hover {
    background-color: #ffcc29;
  }
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* -------------------Línea debajo del título ---------------- */
/* ----------------------------------------------------------- */

/* Estilos para pantallas más grandes (ancho mayor a 768px) */
@media (min-width: 768px) {
    #titulo {
        border-bottom: 5px solid #0073e6; /* Línea debajo del título */
        text-align: left; /* Alinea el texto del título a la izquierda */
        width: 30%; /* Asegura que el título ocupe todo el ancho disponible */
        display: block; /* Asegura que el título sea un elemento en bloque */
        color: #000; /* Color de texto negro para el título */
        margin-left: 20px; /* Agrega margen izquierdo para mover el título a la derecha */
        font-size: 50px; /* Tamaño de la letra en píxeles */
    }

    #titulo::after {
        content: "";
        display: block;
        border-bottom: 5px solid #0073e6; /* Línea debajo del título */
        margin-top: 5px; /* Espacio entre el texto y la línea */
    }

    #contenido {
        display: flex; /* Contenedor flex para centrar párrafo e imagen */
        align-items: center; /* Centra verticalmente el contenido */
        margin-top: 20px; /* Añade margen superior al contenido */
    }

    #parrafo {
        text-align: justify; /* Justifica el texto en el párrafo */
        width: 60%; /* Ancho del párrafo */
        color: #000; /* Color de texto negro para el párrafo */
        margin-left: 30px; /* Márgen izquierdo para separar del extremo izquierdo */
        margin-right: 30px; /* Márgen derecho para separar del extremo derecho */
        font-size: 30px; /* Tamaño de la letra en píxeles */
    }

    #imagen {
        width: 40%; /* Ancho de la imagen */
        margin-right: 40px; /* Márgen derecho para separar del extremo derecho */
    }

    #boton-leer-mas {
        background-color: #0073e6; /* Color de fondo azul */
        color: #fff; /* Color de texto blanco */
        border: none; /* Sin borde */
        padding: 10px 20px; /* Espaciado interno */
        cursor: pointer; /* Cursor de puntero al pasar el ratón */
        float: left; /* Mueve el botón a la izquierda */
        margin-left: 30px; /* Márgen izquierdo para separar del extremo izquierdo */
        margin-right: 40px; /* Márgen derecho para separar del extremo derecho */
    }

    #boton-leer-mas:hover {
        background-color: #436b92; /* Color de fondo azul oscuro al pasar el ratón */
    }
}

/* Estilos para pantallas pequeñas (ancho igual o menor a 768px) */
@media (max-width: 768px) {
    #titulo {
        border-bottom: 5px solid #0073e6; /* Línea debajo del título */
        text-align: left; /* Alinea el texto del título a la izquierda */
        width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
        display: block; /* Asegura que el título sea un elemento en bloque */
        color: #000; /* Color de texto negro para el título */
        margin-left: 20px; /* Agrega margen izquierdo para mover el título a la derecha */
        font-size: 50px; /* Tamaño de la letra en píxeles */
    }

    #titulo::after {
        content: "";
        display: block;
        border-bottom: 5px solid #0073e6; /* Línea debajo del título */
        margin-top: 5px; /* Espacio entre el texto y la línea */
    }

    #contenido {
        display: block; /* Cambia a bloque para que el párrafo, la imagen y el botón queden en orden vertical */
        margin-top: 20px; /* Añade margen superior al contenido */
    }

    #parrafo {
        text-align: justify; /* Justifica el texto en el párrafo */
        width: 100%; /* Ancho del párrafo al 100% para ocupar toda la pantalla */
        color: #000; /* Color de texto negro para el párrafo */
        margin-left: center; /* Margen izquierdo automático para centrar horizontalmente */
        margin-right: center; /* Margen derecho automático para centrar horizontalmente */
        font-size: 18px; /* Tamaño de la letra en píxeles */
        
    }

    #imagen {
        width: 100%; /* Ancho de la imagen al 100% para ocupar toda la pantalla */
        margin-right: 5; 
    }

    #boton-leer-mas {
        background-color: #0073e6; /* Color de fondo azul */
        color: #fff; /* Color de texto blanco */
        border: none; /* Sin borde */
        padding: 10px 20px; /* Espaciado interno */
        cursor: pointer; /* Cursor de puntero al pasar el ratón */
        float: none; /* Elimina la propiedad float para que quede centrado */
        margin-left: 20px; /* Márgen izquierdo para separar del extremo izquierdo */
        margin-right: 20px; /* Márgen derecho para separar del extremo derecho */
    }

    #boton-leer-mas:hover {
        background-color: #436b92; /* Color de fondo azul oscuro al pasar el ratón */
    }
}

#linea-titulo {
    border: none; /* Elimina el borde predeterminado */
    border-top: 2px solid #000; /* Línea negra de 2 píxeles de grosor */
    margin: 10px 0; /* Espacio superior e inferior de 10 píxeles */
}

#linea-menu {
    border-bottom: 50px solid #008000; 
}



/* ----------------------------------------------------------- */
/* ------------------ circulos de quienes somos --------------*/ 
/* ----------------------------------------------------------- */

.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap; /* Allow items to wrap to the next row when the screen is narrow */
}

.circle-item {
    text-align: center;
    margin: 0 50px;
    flex-basis: calc(33.33% - 100px); /* Set the width of each item, 33.33% for three items with margin */
    box-sizing: border-box; /* Include margin in the width calculation */
    padding: 20px; /* Add padding to create space between items */
}

.circle-image {
    width: 300px;
    height: 300px;
    display: block; /* Make the image a block element */
    margin: 0 auto 10px; /* Center the image and add space below */
}

.image-label {
    margin-top: 10px;
    font-weight: bold;
    color: black;
    font-size: 50px;
    text-align: center; /* Center the text */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .circle-item {
        flex-basis: 100%; /* Full width for smaller screens */
    }

    .circle-image {
        width: 100%; /* Make the image full width */
        height: auto; /* Maintain aspect ratio */
        margin: 0 auto 20px; /* Center the image and add space below */
    }
}

/* ----------------------------------------------------------- */
/* ------------------ enviar mensaje de consulta --------------*/ 
/* ----------------------------------------------------------- */

/* Estilos para el contenedor principal */
#background-container {
    background-color: #393a39;
    min-height: 50vh;
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: center;
}

/* Estilos para el formulario */
#container {
    width: 50%; /* Ancho del formulario al 50% para alinear a la derecha */
    padding: 30px;
    background-color: #393a39;
    text-align: left;
}

/* Estilos para el formulario */
.formulario {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: flex-start; /* Alinea los elementos al principio verticalmente */
    width: 100%;
    background: #393a39;
    padding: 2em;
    transition: 0.5s;
    flex-direction: column;
    justify-content: space-around;
}

/* Estilos para los labels */
.formulario__label {
    font-weight: 700;
    text-align: left; /* Alinea el texto del label a la izquierda */
    width: 100%; /* Asegura que los labels ocupen todo el ancho disponible */

}

/* Estilos para el contenedor principal */
#background-container {
    background-color: #393a39;
    min-height: 50vh;
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: center;
}


#titulo-form {
    text-align: left;
    color: #131212;
    margin-top: 0;
    background-color: #f6a700;
    margin: 0;
    padding: 30px;
}


/* Estilos para el formulario */
#formulario-contacto {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #393a39;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #000;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #006400;
}


.formulario__grupo-input {
    position: relative;
}


.formulario__btn {
    width: 50%;
    height: 3em;
    line-height: 3em;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.container2 {
    align-items: center;
    width: 43em;
    background: lightgray;
    margin-bottom: 10em;
    border-radius: 1em;
    padding: 1em;
    transition: 0.5s;
}

.date {
    background-color: #f5ececbd;
}

/* Estilos para los campos del formulario */
.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color:#ddd;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 20em;
    background-color: #f5ecec;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 3em;
    line-height: 3em;
    padding: 0 3em 0 1em;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}



/* Estilos para el mensaje de error y éxito */
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #008000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* Estilos para la validación */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}
/* ----- -----  Mediaqueries ----- ----- */

@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
    .formulario__btn {
        width: 100%;
    }
}




/* ----------------------------------------------------------- */
/* ------------------ carrusel --------------*/ 
/* ----------------------------------------------------------- */

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(700px + 3em); /* Ajusta la altura según tus necesidades */
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.slide-item {
    position: absolute;
    opacity: 0;
    animation: changeSlide 3s infinite; /* Cambia la imagen cada 3 segundos */
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    transition: opacity 3s ease-out; /* Añade transición de opacidad para un cambio suave */
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
    display: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

/* Media query para dispositivos con ancho de pantalla menor a 600px (tamaño de teléfono) */
@media (max-width: 600px) {
    
    .slide-inner {
        height: auto; 
    }

    .slide-item {
        animation: none; 
    }

    .slide-control {
        display: block; 
    }
}




    
/* ----------------------------------------------------------- */
/* ------------------ imagen panoramica 1800x300 --------------*/ 
/* ----------------------------------------------------------- */

#imagen-panoramica {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-align: left;
    padding-left: 16px; /* Adjusted padding */
    margin-left: 16px; /* Adjusted margin */
}

.mensaje-entrada-salida {
    color: #fff;
    font-size: 4vw; /* Adjusted font size using vw unit */
    opacity: 0;
    animation: entradaSalida 3s ease-in-out infinite; /* Adjusted duration */
}

@keyframes entradaSalida {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#imagen-panoramica img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7; 
}

@media (max-width: 768px) {
    #imagen-panoramica {
        position: relative;
        width: 100%;
        max-height: 30vh; /* Ajusta el valor de max-height según sea necesario */
        overflow: hidden;
    }

    #imagen-panoramica img {
        width: 100%;
        height: auto; /* Permite que la imagen se escale proporcionalmente */
        object-fit: cover;
        opacity: 0.7; /* Ajusta el valor de opacidad según sea necesario (0.0 a 1.0) */
    }
}




/* ----------------------------------------------------------- */
/* ------------------ mision-vision --------------*/ 
/* ----------------------------------------------------------- */


#contenido2 {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos móviles */
    justify-content: center;
    align-items: flex-start;
    margin-top: 10vh;
    background-color: #f6a700;
    text-align: justify;
    padding: 20px;
}

#contenido-izquierdo, #contenido-derecho {
    width: 100%; /* Ambos ocupan el 100% del ancho en dispositivos móviles */
    margin-right: 0; /* Sin margen entre las columnas en dispositivos móviles */
}

.columna {
    width: 100%;
}

#columna-vision {
    margin-right: 10px;
}

.seccion {
    margin-bottom: 40px;
    background-color: transparent;
}

.seccion h3 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

.seccion p {
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    max-width: 100%;
}

#titulo2 {
    text-align: center;
    color: black;
    font-style: italic;
}

@media only screen and (min-width: 768px) {
    /* Aplicar estilos específicos para pantallas más grandes, si es necesario */
    #contenido-izquierdo, #contenido-derecho {
        width: 30%;
        margin-right: 60px;
    }
}

/* ----------------------------------------------------------- */
/* ------------------ agregar Mapa --------------*/ 
/* ----------------------------------------------------------- */


#map {
    width: 800px; /* Ancho deseado del mapa */
    height: 400px; /* Altura deseada del mapa */
    margin: 0 auto; /* Centra horizontalmente */
}

.contenedor_ubicacion {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.contenedor_ubicacion h2 {
    color: #333;
}

.contenedor_ubicacion form {
    margin-top: 20px;
}

.contenedor_ubicacion form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.contenedor_ubicacion form button:hover {
    background-color: #45a049;
}


.contenedor_ubicacion {
    color: black;
}

.contenedor_ubicacion h2 {
    color: black;
}

.contenedor_ubicacion label {
    color: black;
}

.contenedor_ubicacion select {
    color: black;
}

.contenedor_ubicacion button {
    color: black;
}

.etiqueta-ancho {
    width: 90px; /* Ajusta el ancho según tus necesidades */
}

.seleccion-ancho {
    width: 250px; /* Ajusta el ancho según tus necesidades */
}

#titulo_ubicacion2 {
    text-align: center; 
    color: #070808; 
    font-size: 60px; 
    font-weight: bold; 
    margin-bottom: 10px;    
}
 

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ------------------ agregar noticias --------------*/ 
/* ----------------------------------------------------------- */

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Formulario */
#formulario_noti {
    text-align: center;
}

/* Campos de entrada */
#formulario_noti label {
    display: block;
    margin-bottom: 5px;
}

#formulario_noti input[type="file"],
#formulario_noti input[type="text"],
#formulario_noti textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botón para crear contenedor */
#formulario_noti .crear-contenedor {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#formulario_noti .crear-contenedor:hover {
    background-color: #030404;
}



/* Estilo para el título dentro de los contenedores de noticias */
.nuevo-contenedor h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000; 
    text-align: center; 
    max-height: none; 
    line-height: 1.2em; 
    word-wrap: break-word; 
}

/* Estilo para el texto dentro de los contenedores de noticias */
.nuevo-contenedor p {
    color: #000; 
    text-align: center; 
    max-height: none; 
    line-height: 1.2em; 
    word-wrap: break-word; 
}

/* Imagen del contenedor */
.nuevo-contenedor img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* CSS para el contenedor de contenido */
#contenedor-de-contenido {
    white-space: nowrap; 
    overflow-x: auto; 
}

#contenedor-de-contenido {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
}

#contenedor-de-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
/* Estilo para los contenedores individuales */
.nuevo-contenedor {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    white-space: normal;
}

/* Contenedor creado */
.nuevo-contenedor {
    margin: 40px; /* Ajusta el margen según tus necesidades */
    max-width: none; /* Anula el max-width para permitir el ancho completo */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* Estilo para las imágenes dentro de los contenedores */
.nuevo-contenedor img {
    max-width: 100%; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}


.contenedor-individual img {
    max-width: 100%; 
    height: auto; 
}


.contenedor-individual {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    overflow: hidden;
    margin-right: 10px;
    transition: margin-right 0.5s; 
}



/* Estilo para los contenedores individuales después del primero */
.contenedor-individual + .contenedor-individual {
    margin-left: 10px; 
}

.nuevo-contenedor:first-child {
    margin: 10px; 
}

/* Estilo para los contenedores individuales después del primero */
.nuevo-contenedor + .nuevo-contenedor {
    margin: 10px; 
}

/* Estilo para el enlace "Leer más" */
.nuevo-contenedor .leer-mas {
    color: #007bff; /* Color azul */
    text-decoration: none; /* Quita el subrayado del enlace */
    display: block; /* Hace que el enlace sea un bloque para que aparezca debajo del texto */
    margin-top: 10px; /* Espacio superior entre el texto y el enlace */
}






/* Estilo para el título */

#tituloNotici {
    text-align: center; 
    color: #070808; 
    font-size: 60px; 
    font-weight: bold; 
    margin-bottom: 10px; 
}

#tituloNotici::after {
    content: "";
    display: block;
    border-bottom: 10px solid #0073e6; 
    margin-top: 5px;
}



/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ------------------ Crear noticias --------------*/ 
/* ----------------------------------------------------------- */

/* Estilo para los grupos de formulario */
.form-group2 {
    margin-bottom: 20px;
}

.form-group2 label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilo para los campos de entrada y select */
.form-group2 input[type="text"],
.form-group2 textarea,
.form-group2 select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    max-width: 100%; /* Ancho máximo para evitar que el texto se extienda demasiado */
}

/* Estilo para el botón */
.crear-contenedor {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.crear-contenedor:hover {
    background-color: #0056b3;
}

/* Estilo para el contenedor donde se mostrará el contenido agregado */
#contenedor-de-contenido2 {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para la noticia */
.noticia {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: left;
}

/* Estilo para el título dentro de la noticia */
.noticia h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000;
    max-height: none;
    text-align: center; /* Alinea el título al centro */
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
    overflow: hidden;
}

/* Estilo para el texto dentro de la noticia */
.noticia p {
    color: #000;
    text-align: left;
    max-height: none; 
    line-height: 1.2em; 
    white-space: normal; 
    word-wrap: break-word; 
    max-width: 100%; 
    overflow: hidden; 
}

/* Estilo para la imagen dentro de la noticia */
.noticia img {
    max-width: 100%;
    display: block;
    margin: 0 auto 10px;
    background-image: none;
    position: relative;
}


#contenedor-de-noticia {
    padding: 50px;
    width: 100%; /* Ajusta el ancho del contenedor según tus preferencias */
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Evita que el contenedor sea más ancho que su contenedor padre */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si el contenido es demasiado ancho */
}

/* Botón para crear contenedor */
#formulario_noti2 .Crear-Noticia {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#formulario_noti2 .Crear-Noticia:hover {
    background-color: #030404;
}



.texto-negro {
    color: #000; /* Set text color to black */
}


.icono-eliminar {
    color: red;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.imagen-container {
    position: relative;
    display: inline-block;
    margin: 3px;
}


/* ----------------------------------------------------------- */
/* ------------------ Lineas de Fotodrafia --------------------*/ 
/* ----------------------------------------------------------- */

/* Estilo para el contenedor del título con línea */
.titulo-con-linea {
    text-align: center; /* Alinea el contenido al centro */
    margin: 20px 0; /* Espacio vertical alrededor del título */
}

/* Estilo para las líneas */
.linea-titulo {
    border: none; /* Elimina la línea original */
    border-top: 3px solid #0b0c0c; /* Agrega una línea superior de color azul */
    margin: 0;
}

/* Estilo para el título */
#titulo3 {
    background-color: #fff; /* Fondo blanco detrás del título */
    padding: 0 20px; /* Espaciado horizontal alrededor del título */
    font-size: 24px; /* Tamaño del título */
    color: #0b0c0c; /* Color del texto del título (azul) */
    display: inline-block; /* Hace que el título se comporte como un bloque en línea */
    position: relative; /* Permite posicionar el título */
    top: -15px; /* Ajusta la posición vertical del título para alinearlo con la línea */
}


/* ----------------------------------------------------------- */
/* ------------------ Fotodrafia --------------------*/ 
/* ----------------------------------------------------------- */

/* Estilo para el contenedor de imágenes y botones */
#contenedor-imagenes,
.cargar-imagenes {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos en línea */
    flex-wrap: wrap; /* Permitir que las imágenes se envuelvan en filas */
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si el contenido es demasiado ancho */
    max-width: 100%; /* Evita que el contenedor sea más ancho que su contenedor padre */
    align-items: center; /* Centra verticalmente los elementos en línea */
    margin-top: 20px;
}

/* Estilo para el botón de carga de imágenes y el botón de crear noticia */
.cargar-imagenes button,
#formulario_noti2 .Crear-Noticia {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

/* Estilo para los botones al pasar el ratón */
.cargar-imagenes button:hover,
#formulario_noti2 .Crear-Noticia:hover {
    background-color: #0056b3;
}

/* Estilo para el contenedor de imágenes con CSS Grid */
.imagen-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 imágenes por fila */
    gap: 10px; /* Espaciado entre imágenes */
    max-width: 100%; /* Evita que el contenedor sea más ancho que su contenedor padre */
}

/* Estilo para las imágenes cargadas */
.imagen-cargada {
    width: 150px; /* Ancho fijo para la imagen */
    height: 150px; /* Altura fija para la imagen */
    margin: 25px; /* Espaciado entre imágenes */
    object-fit: cover; /* Ajusta el tamaño de la imagen manteniendo su relación de aspecto */
}

/* ----------------------------------------------------------- */
/* ------------------ botones noticia --------------------*/ 
/* ----------------------------------------------------------- */

/* Estilo para el botón "Publicar Noticia" con id "botones_noticia" */
#botones_noticia {
    background-color: #4CAF50; /* Color verde */
    color: #fff; /* Color de texto blanco */
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px; /* Espaciado entre los botones */
}

/* Estilo para el botón "Publicar Noticia" al pasar el ratón */
#botones_noticia:hover {
    background-color: #000; /* Color negro al pasar el ratón */
}


/* ----------------------------------------------------------- */
/* ------------------ estilo de perfil --------------------*/ 
/* ----------------------------------------------------------- */

/* Estilos para el contenedor principal */
.container_main {
    display: flex;
}

/* Estilos para el contenedor de la foto */
.container_foto {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
}

/* Estilos para el formulario Foto_perfil */
#Foto_perfil {
    max-width: 300px;
    margin: 0 auto;
}

/* Estilos para el contenedor de la foto */
.container_foto_perfil {
    margin-bottom: 20px;
}

/* Estilos para la etiqueta de la foto */
.foto {
    font-weight: bold;
}

/* Estilos para el campo de entrada de archivo */
#perfil_foto {
    display: none;
}

/* Estilos para el botón de carga personalizado */
button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

/* Estilos para el formulario perfil */
.container_perfil {
    flex: 1;
    max-width: 900px;
    margin: 90px auto 0 auto;
    background-color: #3498db;
    border: 9px solid #2980b9;
    color: #ecf0f1;
    padding: 70px;
    text-align: left;
    font-size: 30px;
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
}

.container_perfil strong {
    display: block;
    float: left;
    clear: left;
    width: 40%;
}

.container_perfil p {
    margin: 0;
    float: left;
    width: 60%;
}

.container_perfil a {
    color: #ecf0f1;
}

.container_perfil a:hover,
.container_perfil a:focus {
    color: #ecdbff;
}

.container_perfil .active {
    color: #ecdbff;
    background-color: #2980b9;
}


.mensaje a {
    color: inherit;
    margin-right: .5rem;
    display: inline-block;
}
.mensaje a:hover {
    color: #309B76;
    transform: scale(1.4)
}



/* ----------------------------------------------------------- */
/* ------------------- estilo de Vedio -------------------- */
/* ----------------------------------------------------------- */


.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Ajusta la relación de aspecto según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container iframe {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%; /* Ajusta al tamaño deseado, por ejemplo, 80% */
    height: 60%; /* Ajusta al tamaño deseado, por ejemplo, 80% */
}

nav ul.menu.mobile-expanded {
    padding-top: 40px; /* Ajusta el valor según sea necesario para mantener el espacio adecuado */
}

/* Ajustes adicionales para dispositivos móviles */
@media screen and (max-width: 600px) {
    .video-container iframe {
        width: 100%; /* Hace que el video ocupe el ancho completo del contenedor */
        height: 100%; /* Hace que el video ocupe la altura completa del contenedor */
        top: 0; /* Ajusta según sea necesario */
        left: 0; /* Ajusta según sea necesario */
    }

    nav ul.menu.mobile-expanded {
        padding-top: 20px; /* Ajusta el valor según sea necesario para mantener el espacio adecuado */
    }
}




/* ----------------------------------------------------------- */
/* ------------------- 5 noticias -------------------- */
/* ----------------------------------------------------------- */

.noticia-item {
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}

.noticia-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform 0.7s ease;
}

.overlay-text {
    position: absolute;
    top: 49%;
    left: 100%; /* Ajusta a 100% para colocarlo a la derecha */
    transform: translate(-100%, -50%); /* Centra el overlay */
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    opacity: 0;
    object-fit: cover;
    transition: transform 0.9s ease;
}

.noticia-item:hover img {
    transform: scale(1.1);
}

.noticia-item:hover .overlay-text {
    opacity: 1;
}

.overlay-text h4,
.overlay-text h5,
.overlay-text p {
    color: #fff;
    margin-top: 10px;
}

.card-body {
    flex-grow: 1;
}

.card-text {
    word-wrap: break-word;
    text-align: justify;
}

.custom-btn {
    background-color: #0073e6;
    color: white;
    align-self: flex-end;
    margin-top: auto;
}

.container2 {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

/* Media Query para dispositivos con un ancho máximo de 767px (típicamente teléfonos) */
@media only screen and (max-width: 767px) {
    .noticia-item {
        margin-left: 0;
        margin-right: 0;
    }

    .container2 {
        margin-left: 0;
        margin-right: 0;
    }
}


/* Estilo del botón */
#boton_ir_azul {
    padding: 10px 20px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background-color: #007BFF; /* Color azul */
    color: #ffffff; /* Color blanco para el texto */
    border-radius: 5px; /* Bordes redondeados */
    border: 2px solid #0056b3; /* Borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    margin-left: 150px;
}

/* Cambiar el color del botón al pasar el ratón por encima (opcional) */
#boton_ir_azul:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el ratón por encima */
}

/* Media Query para dispositivos con un ancho máximo de 767px (típicamente teléfonos) */
@media only screen and (max-width: 767px) {
    #boton_ir_azul {
        font-size: 20px; /* Ajusta el tamaño de fuente para dispositivos móviles más pequeños */
        margin-left: 90px; /* Elimina el margen izquierdo en dispositivos móviles */
        margin-right: 90px;
    }
}


/* ----------------------------------------------------------- */
/* ------------------- Mapa-------------------- */
/* ----------------------------------------------------------- */

#map-container {
    position: relative;
    margin-top: 20px;
    z-index: 0;
}

#map {
    width: 50%;
    height: 500px;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    #map {
        width: 70%;
        height: 200px; /* Ajusta la altura para dispositivos con una pantalla más pequeña */
    }
}

/* ----------------------------------------------------------- */
/* ------------------- listar-ubicacion -------------------- */
/* ----------------------------------------------------------- */

#titulo_ubicacion {
    color: black;
    text-align: center;
    padding: 10px 0; 
}

#contenedor-principal {
    display: flex;
    align-items: center;
    justify-content: center; /* Ahora se centra horizontalmente y verticalmente */
    height: 100vh;
}

#contenedor-gris {
    background-color: #f3eaea;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin-left: 200px;
}

#cursor {
    overflow-x: auto;
    max-height: 400px;
    overflow-y: auto;
    cursor: grab;
}

#table_ubicacion {
    width: 100%;
    border-collapse: collapse;
}

#thead_ubicacion {
    background-color: #3498db;
    color: white;
}

.th_ubicacion {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

#tbody_ubicacion tr:hover {
    background-color: #f5f5f5;
}

.eliminar-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}


#cursor th {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
}


#cursor table {
    width: 100%;
}

#cursor .eliminar-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.td_ubicacion {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: black; /* Agrega esta línea para establecer el color del texto en negro */
}


